@model Template.Widget.Models.Login.Login_VM

<script type="text/javascript" src="@Url.Content("~/Widget/JS/Login.js")"></script>

<div>
    <h4>@Html.DisplayFor(m => m.label1)</h4>
</div>
<div>
    <b>@Html.DisplayFor(m => m.login)</b>
</div>

